<html>
<head>
    <title>Account Manager</title>
	<script src='/static/js/jquery-3.3.1.js'></script>
	<script src='/static/js/updatever.js'></script>
    <script>
		$(document).ready(function(){
			$("#Generate").click(function(){
				var Generate_AccountStr = "";
				Generate_Account(Generate_AccountStr);
			})
			$("#Save").click(function(){
				switch( $("input[name='Password_Saveitem']:checked").val() ) {
					case "1":
						Save_Item( $('#pw1').val() );
						break;
					case "2":
						Save_Item( $('#pw2').val() );
						break;
					case "3":
						Save_Item( $('#pw3').val() );
						break;
					case "max":
						Save_Item( $('#pwmax').val() );
						break;

				}
			})
		});
		function Generate_Account(Generate_AccountStr){
			if (document.getElementById('Account_Key').checked){
				Generate_AccountStr = $('#Account').val();
				document.getElementById('Result_Account').value = Generate_AccountStr;

				Generate_pw1(Generate_AccountStr)
			}
			else if (document.getElementById('Address').value != ""){
				$.get("/getAccount/"+$('#Address').val(),function(data){
					Generate_AccountStr = data;
					document.getElementById("Result_Account").value = Generate_AccountStr;

					Generate_pw1()
				})
				
			}else{
				alert('Error');
			}
		}
		function Generate_pw1(){
				$.get("/getPassword_1/"+$('#Address').val()+"/"+$('#Result_Account').val() ,function(data){
					document.getElementById("pw1").value = data;

					Generate_pw2()
				})	
			
		}
		function Generate_pw2(){
			$.get("/getPassword_2/"+$('#Address').val()+"/"+$('#Result_Account').val() ,function(data){
				document.getElementById("pw2").value = data;

				Generate_pw3()
				}
			)
		}
		function Generate_pw3(){
			$.get("/getPassword_3/"+$('#Address').val()+"/"+$('#Result_Account').val() ,function(data){
				document.getElementById("pw3").value = data;

				Generate_pwmax()
				}
			)
		}
		function Generate_pwmax(){
			$.get("/getPassword_max/",function(data){
				document.getElementById("pwmax").value = data;
				}
			)
		}
		function Save_Item(Save_Item_Password){

			if ($('#text').val()=="")
			{
				$.post("{% url 'Save_Result_to_sql' %}",{
					AddressStr:$('#Address').val(),
					AccountStr:$('#Result_Account').val(),
					password:Save_Item_Password
				},function(data){
					alert("succ");
				})
			}else{
				$.post("{% url 'Save_Result_to_sql' %}",{
					AddressStr:$('#Address').val(),
					AccountStr:$('#Result_Account').val(),
					password:Save_Item_Password,
					Text:$('#text').val()
				},function(data){
					alert("succ");
				})
			}

		}
    </script>
</head>
<body onload="updatever()">
	<div id="Version-nav">
		<div id="Version-label" style="width:45%;float:left;">
			&emsp;&emsp;Version
		</div>
		<div id="Version-choice" style="width:45%;float:left;">
			<span id="ver"></span>
		</div>
	</div>
	<br><br>
	<div id="language-nav">
		<div id="language-label" style="width:45%;float:left;">
			&emsp;&emsp;Language
		</div>
		<div id="language-choice" style="width:45%;float:left;">
			<a href="{% url 'home' %}"><button>English</button></a>&emsp;&emsp;<a href="{% url 'index_zh' %}"><button> 简体中文</button></a>
		</div>
	</div>
	<br><br>
	<div id="function-nav" >
		<div id="function-label" style="width:45%;float:left;">
			&emsp;&emsp;Function
		</div>
		<div id="function-choice" style="width:45%;float:left;">
			<a href="{% url 'home' %}"><button>Generation</button></a>&emsp;&emsp;<a href="{% url 'search' %}"><button>Search</button></a>&emsp;&emsp;<a href="{% url 'Update' %}"><button>Update Text</button></a>
		</div>
	</div>
	<br><br>
	<hr>
	<br>
	<div id="Generate-div">
		<div id="Generate-label-Address" style="width:45%;float:left;">
			&emsp;&emsp;Address
		</div>
		<div id="Generate-input-Address" style="width:45%;float:left;">
			<input id="Address" />
		</div>
		<br><br>
		<div id="Generate-label-Account" style="width:45%;float:left;">
			&emsp;&emsp;Account
		</div>
		<div id="Generate-input-Account" style="width:45%;float:left;">
			<input id="Account" />
		</div>
		<br><br>
		<div id="Generate-label-Used_Account_Key" style="width:45%;float:left;">
			&emsp;&emsp;Used Account Key
		</div>
		<div id="Generate-choice-text" style="width:45%;float:left;">
			<input type='checkbox' id="Account_Key" />
		</div>
	</div>
	<br>
	<p align="center"><input type="button" id='Generate' value="Generate"></p>
	<br>
	<hr><p align="center"> Generated Result </p><hr><br>
	<div id="Generated_Result-div">
		<div id="Generated_Result-label-Account" style="width:45%;float:left;">
			&emsp;&emsp;Account
		</div>
		<div id="Generated_Result-input-Account" style="width:45%;float:left;">
			<input id="Result_Account" />
		</div>
		<br><br>
		<div id="Generated_Result-label-Password_lv1" style="width:45%;float:left;">
			&emsp;&emsp;Password lv 1
		</div>
		<div id="Generated_Result-input-Password_lv1" style="width:45%;float:left;">
			<input id="pw1" />&emsp;<input type="radio" name="Password_Saveitem" value="1">
		</div>
		<br><br>
		<div id="Generated_Result-label-Password_lv2" style="width:45%;float:left;">
			&emsp;&emsp;Password lv 2
		</div>
		<div id="Generated_Result-input-Password_lv2" style="width:45%;float:left;">
			<input id="pw2" />&emsp;<input type="radio" name="Password_Saveitem" value="2">
		</div>
		<br><br>
		<div id="Generated_Result-label-Password_lv3" style="width:45%;float:left;">
			&emsp;&emsp;Password lv 3
		</div>
		<div id="Generated_Result-input-Password_lv3" style="width:45%;float:left;">
			<input id="pw3" />&emsp;<input type="radio" name="Password_Saveitem" value="3">
		</div>
		<br><br>
		<div id="Generated_Result-label-Password_lvmax" style="width:45%;float:left;">
			&emsp;&emsp;Password lv max
		</div>
		<div id="Generated_Result-input-Password_lvmax" style="width:45%;float:left;">
			<input id="pwmax" size="70"/>&emsp;<input type="radio" name="Password_Saveitem" value="max" checked>
		</div>
		<br><br>
		<div id="Generated_Result-label-text" style="width:45%;float:left;">
			&emsp;&emsp;Text
		</div>
		<div id="Generated_Result-input-text" style="width:45%;float:left;">
			<input id="text" size="50"/>
		</div>
		<br><br>
	</div>
	<p align="center"> <input type="button" id='Save' value="Save Result"/></p>
</body>
</html>