<html>
<head>
	<title>Account Manage v3.1</title>
	<script src='/static/js/jquery-3.3.1.js'></script>
	<script>
	$(document).ready(function(){
			$("#Search_button").click(function(){
				alert('succ');
				switch( $("#Search_item").val() ) {
					case "0":
						Searched_Item( $("#Search_item").val() , $('#Search_Address').val() );
						break;
					case "1":
						Searched_Item( $("#Search_item").val() , $('#Search_Account').val() );
						break;
					case "2":
						Searched_Item( $("#Search_item").val() , $('#Search_Password').val() );
						break;
				}
			})
		})
	function Searched_Item(key,keyword){
		$.get("/searched/"+key+"/"+keyword ,function(data){
			document.getElementById('Searched').innerHTML = data;
		})	
	}
	</script>
</head>
<body>
	<p>语言 : <a href="{% url 'search' %}">English</a>&emsp;&emsp;<a href='{% url "search_zh" %}'>简体中文</a></p>
	<p>功能区: <a href='{% url "index_zh" %}'>生成器</a></p>
	<span>------------------------------------------------------Search-------------------------------------------------------</span><br><br>
	&emsp;&emsp;<span>地址 : </span><input id="Search_Address" />&emsp;<input type="radio" id="Search_item" value="0" name="Search_select_button" checked><br><br>
	&emsp;&emsp;<span>帐号 : </span><input id="Search_Account" />&emsp;<input type="radio" id="Search_item" value="1" name="Search_select_button"><br><br>
	&emsp;&emsp;<span>密码 : </span><input id="Search_Password" />&emsp;<input type="radio" id="Search_item" value="2" name="Search_select_button"><br><br>
	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="button" id='Search_button' value="Search"/><br><br><br>
	<p id='Searched'></p>
</body>
</html>