<html>
<head>
	<title>Account Manager</title>
	<script src='/static/js/jquery-3.3.1.js'></script>
	<script>
	$(document).ready(function(){
			$("#Search_button").click(function(){
				alert('succ');
				switch( $("input[name='Search_select_button']:checked").val() ) {
					case "0":
						Searched_Item( $("input[name='Search_select_button']:checked").val() , $('#Search_Address').val() );
						break;
					case "1":
						Searched_Item( $("input[name='Search_select_button']:checked").val() , $('#Search_Account').val() );
						break;
					case "2":
						Searched_Item( $("input[name='Search_select_button']:checked").val() , $('#Search_Password').val() );
						break;
					case "3":
						Searched_Item( $("input[name='Search_select_button']:checked").val() , $('#Search_Text').val() );
						break;
				}
			})
		})
	function Searched_Item(key,keyword){
		$.get("/searched/"+key+"/"+keyword ,function(data){
			document.getElementById('Searched').innerHTML = data;
		})	
	}
	</script>
	<span style="font-size:18px;">
		<style type="text/css"> 
			a:link { 
			font-size: 12px; 
			color: #000000; 
			text-decoration: none; 
			} 
			a:visited { 
			font-size: 12px; 
			color: #000000; 
			text-decoration: none; 
			} 
			a:hover { 
			font-size: 12px; 
			color: #999999; 
			text-decoration: underline; 
			} 
		</style>
	</span>
</head>
<body>
	<div id="language-nav">
			<div id="language-label" style="width:45%;float:left;">
				&emsp;&emsp;Language
			</div>
			<div id="language-choice" style="width:45%;float:left;">
				<a href="{% url 'search' %}"><button>English</button></a>&emsp;&emsp;<a href="{% url 'search_zh' %}"><button> 简体中文</button></a>
			</div>
		</div>
		<br><br>
		<div id="function-nav" >
			<div id="function-label" style="width:45%;float:left;">
				&emsp;&emsp;Function
			</div>
			<div id="function-choice" style="width:45%;float:left;">
				<a href="{% url 'home' %}"><button>Generation</button></a>&emsp;&emsp;<a href="{% url 'Update' %}"><button>Update Text</button></a>
			</div>
		</div>
		<br><br>
		<hr>
		<p align="center">Search</p>
		<hr>
		<div id="search">
			<div id="search-label-Address" style="width:45%;float:left;">
				&emsp;&emsp;Address
			</div>
			<div id="search-choice-Address" style="width:45%;float:left;">
				<input id="Search_Address" />&emsp;<input type="radio" id="Search_item" value="0" name="Search_select_button" checked>
			</div>
			<br><br>
			<div id="search-label-Account" style="width:45%;float:left;">
				&emsp;&emsp;Account
			</div>
			<div id="search-choice-Account" style="width:45%;float:left;">
				<input id="Search_Account" />&emsp;<input type="radio" id="Search_item" value="1" name="Search_select_button">
			</div>
			<br><br>
			<div id="search-label-Password" style="width:45%;float:left;">
					&emsp;&emsp;Password
			</div>
			<div id="search-choice-Password" style="width:45%;float:left;">
					<input id="Search_Password" />&emsp;<input type="radio" id="Search_item" value="2" name="Search_select_button">
			</div>
			<br><br>
	
			<div id="search-label-Text" style="width:45%;float:left;">
					&emsp;&emsp;Text
			</div>
			<div id="search-choice-Text" style="width:45%;float:left;">
					<input id="Search_Text" />&emsp;<input type="radio" id="Search_item" value="3" name="Search_select_button">
			</div>
			<br><br>
			<p align="center"><input type="button" id='Search_button' value="Search"/></p>
			<br>
		</div>
		<hr>
		<p align="center" id='Searched'>None</p>
	
</body>
</html>