<html>
<head>
	<title>Account Manager</title>
	<script src='/static/js/jquery-3.3.1.js'></script>
	<script>
	$(document).ready(function(){
			$("#Search_button").click(function(){
				alert('succ');
				switch( $("#Search_item").val() ) {
					case "0":
						Searched_Item( $("#Search_item").val() , $('#Search_Address').val() );
						break;
					case "1":
						Searched_Item( $("#Search_item").val() , $('#Search_Account').val() );
						break;
					case "2":
						Searched_Item( $("#Search_item").val() , $('#Search_Password').val() );
						break;
					case "3":
						Searched_Item( $("#Search_item").val() , $('#Search_Text').val() );
						break;
				}
			})
		})
	function Searched_Item(key,keyword){
		$.get("/searched/"+key+"/"+keyword ,function(data){
			document.getElementById('Searched').innerHTML = data;
		})	
	}
	</script>
</head>
<body>
	<div id="language-nav">
		<div id="language-label" style="width:45%;float:left;">
			&emsp;&emsp;语言
		</div>
		<div id="language-choice" style="width:45%;float:left;">
			<a href="{% url 'Update' %}"><button>English</button></a>&emsp;&emsp;<a href="{% url 'Update_zh' %}"><button> 简体中文</button></a>
		</div>
	</div>
	<br><br>
	<div id="function-nav" >
		<div id="function-label" style="width:45%;float:left;">
			&emsp;&emsp;功能
		</div>
		<div id="function-choice" style="width:45%;float:left;">
			<a href="{% url 'index_zh' %}"><button>生成器</button></a>&emsp;&emsp;<a href="{% url 'search_zh' %}"><button>搜索</button></a>
		</div>
	</div>
	<br><br>
	<hr>
	<p align="center">更新</p>
	<hr>
	<div id="Update">
		<div id="update-label-date" style="width:45%;float:left;">
			&emsp;&emsp;日期
		</div>
		<div id="update-choice-date" style="width:45%;float:left;">
				<input id="Update_Date" />
		</div>
		<br><br>
		<div id="update-label-text" style="width:45%;float:left;">
				&emsp;&emsp;标注
			</div>
			<div id="update-choice-text" style="width:45%;float:left;">
					<input id="Update_Text" />
			</div>
	</div>
	<br>
	<p align="center"><input type="button" id='Update_button' value="Update"/></p>
		
</body>
</html>