<html>
<head>
	<title>Account Manager</title>
	<script src='/static/js/jquery-3.3.1.js'></script>
	<script>
	$(document).ready(function(){
			$("#Update_button").click(function(){
				Update_Item( $("#Update_Date").val() , $("#Update_Text").val())
			})
		})
	function Update_Item(key,keyword){
		$.get("/Update_Text/"+key+"/"+keyword ,function(){
			alert('succ')
		})	
	}
	</script>
</head>
<body>
	<div id="language-nav">
		<div id="language-label" style="width:45%;float:left;">
			&emsp;&emsp;Language
		</div>
		<div id="language-choice" style="width:45%;float:left;">
			<a href="{% url 'Update' %}"><button>English</button></a>&emsp;&emsp;<a href="{% url 'Update_zh' %}"><button> 简体中文</button></a>
		</div>
	</div>
	<br><br>
	<div id="function-nav" >
		<div id="function-label" style="width:45%;float:left;">
			&emsp;&emsp;Function
		</div>
		<div id="function-choice" style="width:45%;float:left;">
			<a href="{% url 'home' %}"><button>Generation</button></a>&emsp;&emsp;<a href="{% url 'search' %}"><button>Search</button></a>
		</div>
	</div>
	<br><br>
	<hr>
	<p align="center">Update</p>
	<hr>
	<div id="Update">
		<div id="update-label-date" style="width:45%;float:left;">
			&emsp;&emsp;Date
		</div>
		<div id="update-choice-date" style="width:45%;float:left;">
				<input id="Update_Date" />
		</div>
		<br><br>
		<div id="update-label-text" style="width:45%;float:left;">
			&emsp;&emsp;Text
		</div>
		<div id="update-choice-text" style="width:45%;float:left;">
				<input id="Update_Text" />
		</div>
	</div>
	<br>
	<p align="center"><input type="button" id='Update_button' value="Update"/></p>
</body>
</html>